{% extends "addRecord.html" %}
{% block choosenForm %}

<div class="row">
    <div class="col-lg-8">
     <div class="form-group">
         <form method="POST"  enctype="multipart/form-data">
             <label for="skaterName">Wheel Name</label>
             {% if request.method == 'POST' %} {% for error in form.name.errors %}
             <span class="errors">[{{ error }}]</span> {% endfor %} {% endif %} {{ form.name(class="form-control") }}
     
             <label for="skaterAge">EST</label>
             {% if request.method == 'POST' %} {% for error in form.est.errors %}
             <span class="errors">[{{ error }}]</span> {% endfor %} {% endif %} {{ form.est(class="form-control") }}
     
             <label for="nationality">Country of Origin</label>
             {% if request.method == 'POST' %} {% for error in form.nationality.errors %}
             <span class="errors">[{{ error }}]</span> {% endfor %} {% endif %} {{ form.nationality(class="form-control") }}
     
             <p></p>
             {{ form.submit(class="btn btn-info") }}
          </form>
      </div>
    </div>
</div>

 {% endblock %}