{% extends "results.html" %}
{% block choosenResults %}


{% for r in results %}
            
{% if i == 2 %}
</div>
    {% set i = 0 %}   
{% else %} 
<div class="row">
   <div class="col-lg-3">
      <iframe width="560" height="315" src=https://www.youtube.com/embed/{{r[3]}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
      {{ r[0] }}
   </div>
  
</div>
    {% set i = i+1 %}
{% endif %}

{% endfor %}

{% endblock %}