.homepageHeader{
    height:30vmax;
    background-image: url('../images/designImages/headerBackground.jpg');
    color:#fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.sections{
    background:#3e6f6f;
    color:#fff;
    font-size:20px;
    height:90vmin;

}

.altsections{
        background:#ce6d33;
        color:#fff;
    font-size: 20px;
    height:90vmin;
}
.card{
    border-color: #ba5c38;
    margin:15px;
}
.card-body{
    background:#ce6d33;
    color:#fff;
}
.card-img-top{
margin-bottom:15px;
}
.leftcard{
    height:30.5vmax;
}


#footer{
    background:#082a39;
    color:#fff;
}

.btn-outline-info, .btn-outline-primary, .btn-outline-success{
    margin-right:15px;
}