.homepageHeader{
    height:30vmax;
    background-image: url('../images/designImages/headerBackground.jpg');
    color:#fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.sections{
    background:#3e6f6f;
    color:#fff;
    font-size:20px;
}

.altsections{
    padding-top:6vmax;
    padding-bottom:6vmax;

    background:#405D7D;
    color:#fff;
    font-size: 20px;
}
.card-body{
    margin-bottom:30px;
    background:#405D7D;
    color:#fff;
}
.card-img-top{
    margin-bottom:15px;
}
.leftcard{
    height:30.5vmax;
}

#footer{
    background:#082a39;
    color:#fff;
}

.btn-outline-info, .btn-outline-primary, .btn-outline-success{
    margin-right:15px;
}

.nav-pills{
    background-color: #082a39;
    border-radius: 15px;
    margin:15px;
}

.responImgs{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.nav-pills a{
    color:#fff;
}

header{
    margin-bottom:50px;
}