{% extends "template.html" %}
{% block content %}

<div class="container-fluid altsections">
	<div class="container ">
		<div class="row">
			<div class="col-lg-6">
				<img src={{url_for('static', filename='images/404.png')}} alt="Boy on skateboard">
			</div>
			<div class="col-lg-6">
				<p><h1>Something's not quite right!</h1></p>
				<p>Either this page has been deleted or the link you've clicked has broken. If you think there should be something here please use the contact page to flag it and we'll get right on it!</p>
				<p>Click below to go back home.</p>
				<a href={{url_for('home')}} class="btn btn-info">Home</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

