
{% extends "template.html" %}
{% block content %}

<div class="container-fluid sections">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Pick a section to update</h2>            
        </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="card-body">
                <h5 class="card-title">Add Records</h5>
                <img class="card-img-top" src={{url_for('static', filename='images/designImages/skaters.jpg', alt="Skater on the side of a quater")}}>  
                <a href={{url_for('adminRecords')}} class="btn btn-info">Skaters</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h5 class="card-title">Edit Records (To Build)</h5>
                <img class="card-img-top" src={{url_for('static', filename='images/designImages/skaters.jpg', alt="Skater on the side of a quater")}}>  
                <a href={{url_for('adminRecords')}} class="btn btn-info">Skaters</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h5 class="card-title">Remove Records (To Build)</h5>
                <img class="card-img-top" src={{url_for('static', filename='images/designImages/skaters.jpg', alt="Skater on the side of a quater")}}>  
                <a href={{url_for('adminRecords')}} class="btn btn-info">Skaters</a>
              </div>
            </div>
          </div>
        </div>    
    </div>
</div>



{% endblock %}
