
{% extends "template.html" %}
{% block content %}

<div class="container-fluid sections">
    <div class="container">
        <div class="row">
            <div class="col-4-lg"></div>
            <div class="col-4-lg">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                      &times;
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            <div class="col-4-lg"></div>
        </div>
        <div class="row">
			<div class="col-lg-12">
                <h2>Approve new records</h2>

			</div>
        </div>
        <div class="row">
            <div class="col-lg-12">
             <ul class="nav nav-pills nav-justified">
                 <li class="nav-item ">
                     <a class="nav-link" href={{url_for('choosenApprove', chooseApprove="approveSkaters")}}>Skater</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href={{url_for('choosenApprove', chooseApprove="approveSkateboards")}}>Skateboards</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href={{url_for('choosenApprove', chooseApprove="approveTrucks")}}>Trucks</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href={{url_for('choosenApprove', chooseApprove="approveWheels")}}>Wheels</a>
                 </li>                
                 <li class="nav-item">
                     <a class="nav-link" href={{url_for('choosenApprove', chooseApprove="approveShoes")}}>Shoes</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href={{url_for('choosenApprove', chooseApprove="approveTricks")}}>Tricks</a>
                 </li>
                 
             </ul>
            </div>
        </div>
 
        <div class="row">
           <div class="col-lg-12">
 
             {% block choosenApproval %}
 
             {% endblock %}
 
           </div>
        </div>
    </div>
</div>




{% endblock %}
