
{% extends "template.html" %}
{% block content %}
<div class="container">
	<h1>Welcome to Tricktionary!</h1>
	<p>Here you can find out everything about your favourite professional Skaterboarder, from what board they ride to their shoe sponsor!</p>
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form method='POST' action='/Search/' name='search' class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" name="search"  type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
	<a href={{ url_for ('results', stat='Eric')}}><img src={{ url1}}></a>
	<a href={{ url_for ('results', stat='Leticia')}}><img src={{ url2}}></a>
	<a href={{ url_for ('results', stat='Chris')}}><img src= {{ url}}>	</a>
	<a href={{ url_for ('results', stat='David')}}><img src={{ url3}}></a>
	<a href={{ url_for ('results', stat='Antwuan')}}><img src={{ url4}}></a>
	<a href={{ url_for ('results', stat='Nyjah')}}><img src={{ url5}}></a>
	
	</div>
</div>
</div>

{% endblock %}
