
{% extends "template.html" %}
{% block content %}


<div class="container-fluid homepageHeader">
    <div class="row justify-content-center">
      
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message }}
      </div>
      {% endfor %}
    </div>
    <div id="searchBar" class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">

            <h1>Tricktionary</h1>
            <h2>The Skateboarder Directory</h2>
            <form method='POST' action='/Search/' name='search' class="card card-sm">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control transparent-input form-control-lg form-control-borderless" name="search" type="search" placeholder="Search topics or keywords">
                    </div>
                    
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>
<div class="container-fluid sections">
    <div class="container">
        <div class="row">
			<div class="col-lg-12">
				<p><h2>What we do</h2></p>
                <p>We record and display current sponsorship deals with pro skaters.</p>
                <p>We are open to new cases, if anything has been missed hit up the contact form and we'll add it to the site!</p>
				
			</div>
		</div>
        <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Skaters</h5>
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/skaters.jpg', alt="Skater on the side of a quater")}}>  
                  <a href={{url_for('lists', stat="skaters")}} class="btn btn-info">Skaters</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Skateboards</h5>
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/boards1.jpg', alt="Man holding a skateboard")}}>  
                  <a href={{url_for('lists', stat="skateboards")}}  class="btn btn-info">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Shoes</h5>
                    <img class="card-img-top" src={{url_for('static', filename='images/designImages/shoes1.jpg', alt="Skate shoes")}}>  
                    <a href={{url_for('lists', stat="shoes")}}  class="btn btn-info">Go somewhere</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Trucks</h5>
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/trucks1.jpg', alt="Skateboard trucks")}}>  
                  <a href={{url_for('lists', stat="trucks")}}  class="btn btn-info">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Wheels</h5>
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/wheels1.jpg', alt="Skateboard Wheels")}}>  
                  <a href={{url_for('lists', stat="wheels")}}  class="btn btn-info">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Tricks</h5>
                    <img class="card-img-top" src={{url_for('static', filename='images/designImages/tricks1.jpg', alt="Man doing a noseslip on a skateboard")}}>  
                    <a href={{url_for('lists', stat="tricks")}}  class="btn btn-info">Go somewhere</a>
                  </div>
                </div>
              </div>
          </div>
          
        
    </div>
</div>



{% endblock %}
