{% extends "template.html" %}
{% block content %}


<div class="container-fluid homepageHeader">
    <div class="row justify-content-center">      
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message }}
      </div>
      {% endfor %}
    </div>
    <div id="searchBar" class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">

            <h1>Tricktionary</h1>
            <h2>The Skateboarder Directory</h2>
            <form method='POST' action='/Search/' name='search' class="card card-sm">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control transparent-input form-control-lg form-control-borderless" disabled name="search" type="search" placeholder="Search bar coming soon">
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid sections">
    <div class="container">
        <div class="row">
			<div class="col-lg-8">
				<p><h2>What we do</h2></p>
                <p>This is your one stop shop for finding out about Professional Skaters, Skateboard Companies, Wheels, Shoes and Trucks and even learn a trick or two.</p>
                <p>Skating is an ever changing sport, with new pros coming out every year and people dropping off or changing teams. This site is a platform to track where they are currently.</p>
                <p>This site is still under development.  If you have any suggestions regarding the design or site features feel free to drop us a message in the contact form and we can take it from there.</p>
                <p>We are open to new cases, if anything has been missed hit up the contact form and we'll add it to the site.</p>
                <p>Shread the Gnar!</p>
				
      </div>
      <div class="col-lg-4">
        <img src={{url_for('static', filename='images/4042.png')}} alt="Boy on skateboard">

      </div>
		</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card-body">
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/skaters.jpg', alt="Skater on the side of a quater")}}>  
                  <a href={{url_for('lists', category="Skaters")}} class="btn btn-light centered">Skaters</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/boards1.jpg', alt="Man holding a skateboard")}}>  
                  <a href={{url_for('lists', category="Skateboards")}}  class="btn btn-light centered">Skateboards</a>
                </div>
            </div>
            <div class="col-lg-4">
                  <div class="card-body">
                    <img class="card-img-top" src={{url_for('static', filename='images/designImages/shoes1.jpg', alt="Skate shoes")}}>  
                    <a href={{url_for('lists', category="Shoes")}}  class="btn btn-light centered">Shoes</a>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
                <div class="card-body">
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/trucks1.jpg', alt="Skateboard trucks")}}>  
                  <a href={{url_for('lists', category="Trucks")}}  class="btn btn-light centered">Trucks</a>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                  <img class="card-img-top" src={{url_for('static', filename='images/designImages/wheels1.jpg', alt="Skateboard Wheels")}}>  
                  <a href={{url_for('lists', category="Wheels")}}  class="btn btn-light centered">Wheels</a>
              </div>
            </div>
            <div class="col-lg-4">
                  <div class="card-body">
                    <img class="card-img-top" src={{url_for('static', filename='images/designImages/tricks1.jpg', alt="Man doing a noseslip on a skateboard")}}>  
                    <a href={{url_for('lists', category="Tricks")}}  class="btn btn-light centered">Tricks</a>
                </div>
              </div>
          </div>
          
        
    </div>
</div>



{% endblock %}
