{% extends "template.html" %}
{% block content %}
   
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{ message }}
</div>
{% endfor %}
<div class="container-fluid sections">
    <div class="container">
        <div class="row">    
            <div class="status-box">
                <div class="col-lg-12">
                    <h1>{{username}}</h1>
                    <h5>About me</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}