{% extends "template.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<form action="/Search/" method="POST" name="form">
				<input type="text" placeholder="Search..." name="search" id="search">
				<input type="submit" name="my-form" value="Search">
			</form>
		</div>
	</div>
	<div class="row">	
		<div class="col-lg-12">
			{% if search %}
			<h2><p>You have searched for {{ search }}. Here are your results</p></h2>
					<table class="centered thick-border">
						
						<tr>
	<th><h1>Truck Sponsor</h1></th>
	<th><h1>Wheel Sponsor</h1></th>
	<th><h1>Skateboard Sponsor</h1></th>
	<th><h1>Shoe Sponsor</h1></th>
	<th><h1>Stance</h1></th>
						
						</tr>

						<tr>	
						{% for s, facts in skater.items() %}
							<td><h2>{{facts}}</td>

						
						{% endfor %}
						</tr>
				
							
			{% else %}
				<p> Your search was unsucessful, please try again.</p>
			{% endif %}
		</table><br></div>
	</div>
</div>
{% endblock %}
